{% extends "base.html" %}
{% block title %}Credential Details{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
  <h1>{{ credential.name }}</h1> 
  <div class="row">
      <div class="col-md-2 fw-bold">Description:</div>
      <div class="col">{{ credential.description }}</div>
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Eligibility:</div>
      <div class="col">Education: {{ credential.eligibility_education }}</div>
      <div class="col">Experience: {{ credential.eligibility_experience }} years</div>                
      <div class="col">Training: {{ credential.eligibility_training }} hours</div>                
  </div>
  <div class="row">
      <div class="col-md-2 fw-bold">Related job roles:</div>
      <div class="col">
        {% for job_role in job_roles %}
        <div>
          <a href="{{ url_for('job_role_details', id=job_role.id) }}" class="btn btn-sm btn-secondary">{{ job_role.name }}</a>
        </div>
        {% endfor %}
      </div>                
  </div>

  <h4 class="mt-5">Programs</h4>

  {% if programs %}
    <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Provider</th>
              <th>Delivery Methods</th>
              <th>Duration</th>
              <th>Price</th>
              <th>Location</th>
              <th Source="text-end">Details</th>
          </tr>
      </thead>
      <tbody>
        {% for program in programs %}
          <tr>
            <td>{{ program.name }}</td>
            <td>{{ program.provider }}</td>
            <td>{{ program.delivery_method }}</td>
            <td>{{ program.duration }} months</td>
            <td>${{ program.price }}</td>
            <td>{{ program.location }}</td>
            <td class="text-end"><a href="{{ url_for('program_details', id=program.id) }}" class="btn btn-sm btn-primary">Details</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No programs of this credential.</p>
  {% endif %}

{% endblock %}
