{% extends "base.html" %}
{% block title %}Credential List{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
        /* overflow: hidden; */
      }
  </style>
{% endblock %}

<!-- <script>

  new gridjs.Grid({
    columns: ['Name', 'Type', 'Details'],
    server: {
      url: '/api/credential',
      then: results => results.data.map(credential => [
        credential.credential_name,
        credential.credential_type,
        credential.credential_provider
      ]),
      total: results => results.total,
    },
    search: {
      enabled: true,
      server: {
        url: (prev, keyword) => `${prev}?search=${keyword}`
      },
    },
    sort: {
      enabled: true,
      multiColumn: true,
      server: {
        url: (prev, columns) => {
          const columnIds = ['credential_name', 'credential_type', 'credential_provider'];
          const sort = columns.map(col => (col.direction === 1 ? '+' : '-') + columnIds[col.index]);
          return updateUrl(prev, {sort});
        },
      },
    },
    pagination: {
      enabled: true,
      server: {
        url: (prev, page, limit) => `${prev}?limit=${limit}&offset=${page * limit}`,
      },
    },
  }).render(document.getElementById('credential-listing'));
</script> -->

{% block content %}
      <h1>Credentials</h1>

      <table id="credential-listing" class="table table-striped">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Details</th>
              </tr>
          </thead>
          <tbody>
              {% for credential in credentials %}
                  <tr>
                      <td>{{ credential.name }}</td>
                      <td>{{ credential.type }}</td>
                      <td class="text-end"><a href="{{ url_for('credential_details', id=credential.id) }}" class="btn btn-sm btn-primary">Details</a></td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
{% endblock %}
